# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build output (nếu có)
dist/
build/

# Ignore dependency lock files (tùy chọn)
package-lock.json
# yarn.lock